{% extends "base.html" %}

{% block title %}Редактировать пост{% endblock %}

{% block content %}
    <h1>Редактировать пост</h1>
    <form method="POST" action="{{ url_for('update_post', post_id=post.id) }}">
        <div class="form-group">
            <label for="title">Заголовок</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}" required>
        </div>
        <div class="form-group">
            <label for="content">Содержание</label>
            <textarea class="form-control" id="content" name="content" rows="5" required>{{ post.content }}</textarea>
        </div>
        <div class="form-group">
            <label for="tags">Теги (через запятую)</label>
            <input type="text" class="form-control" id="tags" name="tags" value="{{ post.tags | map(attribute='name') | join(', ') }}">
        </div>
        <input type="hidden" name="author" value="{{ post.author.username }}">
        <button type="submit" class="btn btn-primary">Отправить</button>
        <a href="{{ url_for('get_post', post_id=post.id) }}" class="btn btn-secondary">Отмена</a>
    </form>
{% endblock %}
