{% extends "base.html" %}

{% block title %}Мой блог о программировании{% endblock %}

{% block content %}
    <h1>Добро пожаловать в мой блог о программировании</h1>
    {% if current_user %}
        <p>Здесь вы найдете статьи на различные темы программирования, учебные материалы и многое другое.</p>    
        <a href="{{ url_for('get_posts') }}" class="btn btn-primary">Посмотреть все посты</a>
    {% else %}
        <p>Вам необходимо 
        <a href="/auth/login">авторизоваться</a>!
        </p>
    {% endif %}
{% endblock %}
